<%- include('partials/header'); -%>

<div class="policies">


<div class="policiesText">
    <p><strong>Teacher Policy(Last Updated on 31 August, 2020)</strong></p>
    <p>If you want to offer Teacher Services on the Lengua Platform, you must read and agree to be bound by these policies for Teachers ("Teacher Policy"). Capitalized terms (including the term "Lengua") used but not defined in this Teacher Policy have the meanings ascribed to such terms in our Terms of Service, which is available at www.Lengua.com/tos (the "Lengua Terms").</p>
    <p>If you do not accept this Teacher Policy in full, you are not authorized to teach on the Lengua Platform and you are not eligible to receive any benefits from Lengua for any Teacher Services you provide.</p>
    <p>This Teacher Policy is designed to encourage the highest standards of Teacher behavior in their relationships with Students by setting clear expectations, and to provide the principles to guide Teachers in their daily conduct when providing Teacher Services and interacting with Students. However, our Teachers come from all over the world and are thus accustomed to a variety of different cultural norms. As a result, this Teacher Policy attempts to adopt universally accepted standards of respect and tolerance. This Teacher Policy does not attempt to address every potential situation that could arise when Teachers interact with Students on the Lengua Platform, but instead provides principles for ethical and professional behavior that can serve as guidance regarding Lengua expectations.</p>
    <ol>
      <li>
        <strong>Teacher Registration and Service Description</strong>
        <ol>
          <li>
            <strong>Teacher Registration</strong>
            <p>In order to become a "Teacher", you must first submit a complete application together with a copy of your passport or other official identification card issued by the applicable government authorities through the Lengua Platform ("Teacher Application"). Your completed Teacher Application will be evaluated by Lengua for approval. If your Teacher Application is approved, your Member status will be changed to "Teacher", you will have the ability to create and manage a Teacher profile on the Lengua Platform, and you can begin providing "Teacher Services", including offering and providing paid lessons ("Lesson") to Students.</p>
            <p>To the extent permitted by applicable law, Lengua may obtain (i) background check reports from public records or through third party venders regarding matters such as criminal convictions or sex offender registrations, and/or (ii) identity verification check reports. As a condition of applying to become a Teacher, you agree and authorize us to use your personal information, such as your full name and date of birth, to obtain such reports. In order to obtain such identity verification check reports, you further agree and authorize us to provide the copy of your passport or official identification card you submitted with a third party vender, such as Sum＆Substance.</p>
          </li>
          <li>
            <strong>Teacher Services Description</strong>
            <p>All Teachers must create a description of their Teacher Services on the Lengua Platform. When creating the description of your Teaching Services, you agree to the following:</p>
            <ul>
              <li>Write a specific, detailed service description with clear teaching scope and Lessons;</li>
              <li>Set expectations that you can meet or exceed;</li>
              <li>Do not offer services with the intent to commit fraud, provide services other than those outlined in your description, or offer any services in exchange for positive feedback or at no cost;</li>
              <li>Do not advertise any third-party teaching service, platform, software, or application</li>
</div>

<div class="pliciesBtn">
    <a href="/teacherzone"> <div class="btnStart-cancel">Back</div></a>
</div> 

</div>

<%- include('partials/footer'); -%>